body{
  font-family: 'Raleway', sans-serif; /* Test for this*/
  margin: 0;
  padding: 0;
  font-size: 16pt; /* test for this! Make all sizes em or rem */
}

h1{
  font-size: 2em;
  text-align: center;
  line-height: 2;
}

h2{
  font-size: 1.5em;
  text-align: center;
  padding: 5px;
}

p {
  padding-top: 20px;
  padding-bottom: 20px;
/*  padding-left: 10px;
  padding-right: 10px;*/
  text-align: left;
}

a {
  text-decoration: none;
}

form {
  width: 100%;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 5px #ccc; 
}

.contactbox {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  margin:0 auto;
  padding: 3px;
}

input {
  width: calc(100% - 10px);
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  vertical-align: middle;
}

input:hover, textarea:hover {
  outline: none;
  border: 1px solid #095484;
}

span {
  color: red;
}

textarea {
  width: calc(100% - 6px);
}

.btn-block {
  margin-top: 20px;
  text-align: center;
}

button {
  width: 150px;
  padding: 10px;
  border: none;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  background-color: #095484;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0666a3;
}

.my_container {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.about_me {
  text-align: left;
  background-color: #E0FFFF;
}

.about_me h1 {
  text-align: left;
}

* {box-sizing: border-box;}
.my_disp_row .my_disp_col{
  float: left;
  width: 25%;
}

.slides {
  text-align: right;
  background-color: #F0FFF0;
}

.slides h1 {
  text-align: right;
}

.slides h2 {
  text-align: right;
}

.slides p {
  text-align: right;
}

.gallery {
  text-align: left;
  background-color: #E0FFFF;
}

.gallery h1 {
  text-align: left;
}

.gallery p {
  text-align: left; 
}

.my_slides {
  margin-left: auto;
  margin-right: auto;
}

.my_slides_hov {
  position: relative;
  top: 0px;
  left: 0px;
}

.my_slides_change {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}

.my_slides_change:hover {
  opacity: 0.6;
  cursor: pointer;
}

footer{
  background-color: black;
  color: white;
  padding: 30px;
  text-align: center;
}

table{
  margin: auto;
}

.flipcard {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.cardflip {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flipcard:hover .cardflip {
  transform: rotateY(180deg);
}

.flipcard:focus .cardflip {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5px;
}

.front {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #292970;
  color: white;
  font-size: 35px;
  font-weight: bold;
  font-family: "Comic Sans MS";
  /* text-decoration: underline; */
}

.back {
  transform: rotateY(180deg);
}

.back img {
  width: 200px;
  height: 200px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  width: 800px;
  align-content: center;
  margin: auto;
}

.grid-container img {
  width: 200px;
  height: 200px;
}


.container{
  /*Your Code Here*/
  display: grid;    
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: repeat(5, auto);
  grid-row-gap: 15px;
}

.main {
  background-attachment: fixed; /* Parallax effect */     
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  color: white;
  height: 400px;                /* Parallax effect */

  /*Your Code Here*/
  /*Set background-image to header.jpg */
  background-image: url("../images/divide.jpg");
 

  grid-column: 1 / -1;  /*Can you explain what this does?*/
  grid-row: 1 / auto;   /*Can you rewrite it?*/
}

.main p{
  color: white;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
}


.about, .method, .clients, .contact{
  /*Your Code Here*/
  grid-column: 2 / span 1;

}

.about-image, .method-image, .clients-image, .contact-image{
  /*Your Code Here*/
  grid-column: 1 / -1; 
  max-height: 700px;
  overflow: hidden;
}

.about, .about-image{
   /*Your Code Here*/
   grid-row: 2 / span 1;

}

.method, .method-image{
   /*Your Code Here*/
   grid-row: 3 / span 1;

}


.clients, .clients-image{
    /*Your Code Here*/
    grid-row: 4 / span 1;

}


.contact, .contact-image{
    /*Your Code Here*/
    grid-row: 5 / span 1;

}

.text-block{
  background-color: rgba(255, 255, 255, .8);
  border: 10px solid black;
  padding: 30px;
  /*Your code here:*/
  align-self: center;
  justify-self: center;

}


.text-block h2 {
  font-size: 32px;
  line-height: 1.5;
  text-align: left;
}

/* Navbar */
header{
  background: #fff;
  border-bottom: 3px solid #50C7C7;
  /*Your  code here again.*/
  display:flex;
  flex-direction: column;
  align-items: center;
}

.nav_links{
  /*Your code here again.*/
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.button_item:active {
  transform: translateY(5px);
}

.nav_item a{
  color: black;
  text-decoration: none;
}

.nav_item a:hover, a:focus{
  color: #50C7C7;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

.nav_this {
  border: 3px solid Highlight;
}

nav li:hover>ul{display:block;}

nav>ul>li ul{display:none;float:left; background-color:#fff; border:1px solid Highlight; position:absolute;}

/*Begin your code here*/
/*Keyframes for animation*/

@-webkit-keyframes bump{
  0% {margin-top: 0px;}
  25% {margin-top: 25px;}
  50% {margin-top: 0px;}
  75% {margin-top: 12px;}
  100% {margin-top: 0px;}
}

/*@-webkit-keyframes bump{
  0% {transform: translateY(0px);}
  25% {transform: translateY(25px);}
  50% {transform: translateY(0px);}
  75% {transform: translateY(12px);}
  100% {transform: translateY(0px);}
}*/


@keyframes bump{
  0% {margin-top: 0px;}
  25% {margin-top: 25px;}
  50% {margin-top: 0px;}
  75% {margin-top: 12px;}
  100% {margin-top: 0px;}
} 

/*@keyframes bump{
  0% {transform: translateY(0px);}
  25% {transform: translateY(25px);}
  50% {transform: translateY(0px);}
  75% {transform: translateY(12px);}
  100% {transform: translateY(0px);}
} */

#logo{
   /*Your code here.*/
  animation-name: bump;
  animation-duration: 1s;
  -webkit-animation-name: bump;
  -webkit-animation-duration: 1s;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.slides_container {
  display: flex;;
  flex-wrap: wrap;
}

.my_slides {
  flex: 100%;
  max-width: 100%;
  max-height: 100%;
}

@media all and (min-width: 800px){
  nav{
    padding: 30px 0px;

    text-align: right;
  }

  .container{

    display: grid;  
    grid-template-columns: 50px auto 500px auto 50px;
    grid-template-rows: repeat(5, 400px);
  }

  .about, .clients, .method-image, .contact-image{

    grid-column: 3 / span 2;
  }

  .about-image, .clients-image, .method, .contact{

    grid-column: 2 / span 2;
  }
} 

@media screen and (min-width: 850px){
  /* Cards! */
  .card {
    /*Your  code here again.*/
    flex-basis: 225px;
  }

  .card_big{
    -webkit-transform: scaleX(1.12);
            transform: scaleX(1.12);
  }

  /* Navbar */
  header{
    /*Your code here again.*/  
    flex-direction: row;
    justify-content: space-between;
  }

  .nav_links{
    /*Your code here again.*/  
    flex-direction: row;
    justify-content: space-between;
  }

  .nav_item a{
    padding: 10px;
  }

  .contactbox {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  margin:0 auto;
  padding: 3px;
}
}

@media (max-width: 800px) {
    .column {
    flex: 50%;
    max-width: 50%;
  }

  .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  width: 500px;
  align-content: center;
  margin: auto;
}
  .grid-container img {
  width: 150px;
  height: 150px;
}

.contactbox {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  margin:0 auto;
  padding: 3px;
}

/*  .slides_container img {
    width: 600px;
  }*/
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

  .grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
  width: 250px;
  align-content: center;
  margin: auto;
}

.grid-container img {
  width: 100px;
  height: 100px;
}

.contactbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  margin:0 auto;
  padding: 3px;
}

/*  .slides_container img {
    width: 400px;
  }*/
}

/*Your code here again.*/ 
/*Add media query to handle reduced-motion*/

@media (prefers-reduced-motion: reduce) {
  #logo {
    animation: none;
  }
}


