body{
  font-family: 'Raleway', sans-serif; /* Test for this*/
  margin: 0;
  padding: 0;
  font-size: 16pt; /* test for this! Make all sizes em or rem */
}

h1{
  font-size: 2em;
  text-align: center;
  line-height: 2;
}

h2{
  font-size: 1.5em;
  text-align: center;
  padding: 5px;
}

p {
  padding-top: 20px;
  padding-bottom: 20px;
/*  padding-left: 10px;
  padding-right: 10px;*/
  text-align: left;
}

a {
  text-decoration: none;
}

form {
  width: 100%;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 5px #ccc; 
}

.contactbox {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  margin:0 auto;
  padding: 3px;
}

input {
  width: calc(100% - 10px);
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  vertical-align: middle;
}

input:hover, textarea:hover {
  outline: none;
  border: 1px solid #095484;
}

span {
  color: red;
}

textarea {
  width: calc(100% - 6px);
}

.btn-block {
  margin-top: 20px;
  text-align: center;
}

button {
  width: 150px;
  padding: 10px;
  border: none;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  background-color: #095484;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0666a3;
}

.my_container {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.about_me {
  text-align: left;
  background-color: #E0FFFF;
}

.about_me h1 {
  text-align: left;
}

* {box-sizing: border-box;}
.my_disp_row .my_disp_col{
  float: left;
  width: 25%;
}

.slides {
  text-align: right;
  background-color: #F0FFF0;
}

.slides h1 {
  text-align: right;
}

.slides h2 {
  text-align: right;
}

.slides p {
  text-align: right;
}

.gallery {
  text-align: left;
  background-color: #E0FFFF;
}

.gallery h1 {
  text-align: left;
}

.gallery p {
  text-align: left; 
}

.my_slides {
  margin-left: auto;
  margin-right: auto;
}

.my_slides_hov {
  position: relative;
  top: 0px;
  left: 0px;
}

.my_slides_change {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}

.my_slides_change:hover {
  opacity: 0.6;
  cursor: pointer;
}

footer{
  background-color: black;
  color: white;
  padding: 30px;
  text-align: center;
}

table{
  margin: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  width: 800px;
  align-content: center;
  margin: auto;
}

.grid-container img {
  width: 200px;
  height: 200px;
}

.grid-container-project {
  display: grid;
  /*width: 1200px;*/
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  background-color: #ccffcc;
  grid-row-gap: 40px;
  grid-column-gap: 10px;
  /*padding: 20px 20px 20px 20px;*/
  align-content: center;
  margin: auto;
}

.p1-title {
  grid-area: 1 / 1 / span 1 / span 1;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 30px;
  background: #DDDDDD;
}

.p2-title {
  grid-area: 2 / 4 / span 1 / span 1;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 30px;
  background: #DDDDDD;
}

.p3-title {
  grid-area: 3 / 1 / span 1 / span 1;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 30px;
  background: #DDDDDD;
}

.p4-title {
  grid-area: 4 / 4 / span 1 / span 1;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 30px;
  background: #DDDDDD;
}

.p1-content {
  grid-area: 1 / 2 / span 1 / span 3;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 18px;
  text-align: left;
  min-height: 200px;
  background-color: #ffffcc;
}

.p2-content {
  grid-area: 2 / 1 / span 1 / span 3;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 18px;
  text-align: left;
  min-height: 200px;
  background-color: #ffcccc;
}

.p3-content {
  grid-area: 3 / 2 / span 1 / span 3;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 18px;
  text-align: left;
  min-height: 200px;
  background-color: #e6ccff;
}

.p4-content {
  grid-area: 4 / 1 / span 1 / span 3;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 18px;
  text-align: left;
  min-height: 200px;
  background-color: #e6f9ff;
}

/* Navbar */
header{
  background: #fff;
  border-bottom: 3px solid #50C7C7;
  /*Your  code here again.*/
  display:flex;
  flex-direction: column;
  align-items: center;
}

.nav_links{
  /*Your code here again.*/
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.button_item:active {
  transform: translateY(5px);
}

.nav_item a{
  color: black;
  text-decoration: none;
}

.nav_item a:hover, a:focus{
  color: #50C7C7;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

.nav_this {
  border: 3px solid Highlight;
}

nav li:hover>ul{display:block;}

nav>ul>li ul{display:none;float:left; background-color:#fff; border:1px solid Highlight; position:absolute;}

/*Begin your code here*/
/*Keyframes for animation*/

@-webkit-keyframes bump{
  0% {margin-top: 0px;}
  25% {margin-top: 25px;}
  50% {margin-top: 0px;}
  75% {margin-top: 12px;}
  100% {margin-top: 0px;}
}

/*@-webkit-keyframes bump{
  0% {transform: translateY(0px);}
  25% {transform: translateY(25px);}
  50% {transform: translateY(0px);}
  75% {transform: translateY(12px);}
  100% {transform: translateY(0px);}
}*/


@keyframes bump{
  0% {margin-top: 0px;}
  25% {margin-top: 25px;}
  50% {margin-top: 0px;}
  75% {margin-top: 12px;}
  100% {margin-top: 0px;}
} 

/*@keyframes bump{
  0% {transform: translateY(0px);}
  25% {transform: translateY(25px);}
  50% {transform: translateY(0px);}
  75% {transform: translateY(12px);}
  100% {transform: translateY(0px);}
} */

#logo{
   /*Your code here.*/
  animation-name: bump;
  animation-duration: 1s;
  -webkit-animation-name: bump;
  -webkit-animation-duration: 1s;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.slides_container {
  display: flex;;
  flex-wrap: wrap;
}

.my_slides {
  flex: 100%;
  max-width: 100%;
  max-height: 100%;
}

@media screen and (min-width: 850px){
  /* Cards! */
  .card {
    /*Your  code here again.*/
    flex-basis: 225px;
  }

  .card_big{
    -webkit-transform: scaleX(1.12);
            transform: scaleX(1.12);
  }

  /* Navbar */
  header{
    /*Your code here again.*/  
    flex-direction: row;
    justify-content: space-between;
  }

  .nav_links{
    /*Your code here again.*/  
    flex-direction: row;
    justify-content: space-between;
  }

  .nav_item a{
    padding: 10px;
  }
}

@media (max-width: 800px) {
    .column {
    flex: 50%;
    max-width: 50%;
  }

  .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  width: 500px;
  align-content: center;
  margin: auto;
}
  .grid-container img {
  width: 150px;
  height: 150px;
}

/*  .slides_container img {
    width: 600px;
  }*/
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

  .grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
  width: 250px;
  align-content: center;
  margin: auto;
}

.grid-container img {
  width: 100px;
  height: 100px;
}

/*  .slides_container img {
    width: 400px;
  }*/
}

/*Your code here again.*/ 
/*Add media query to handle reduced-motion*/

@media (prefers-reduced-motion: reduce) {
  #logo {
    animation: none;
  }
}


